<h1>Index</h1>

<ol>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %> | <%= link_to "Delete",
            article_path(article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ol>

<%= link_to "+ add a new article", new_article_path %>
